<main>

    <div class="d-flex p-5" id='bio'>
      <div class="container">

        <h1>Jesse Nicholas</h1>
        <p>Hi there. I'm a self-taught web engineer and data scientist currently based in Brooklyn, NY. I'm also a writer, and have written for various kids TV shows incluidng Sesame Street, Mecha Builders, and Taffy.
        Competetive chess player. Semi-competitive pool player. Semi-competent piano player.</p>
        <p>Let's make something cool.</p>
      </div>



    </div>
    <div class="container-fluid" id="skills">
      <h1 class='text-center sectionheader'>skills</h1>
      <div class="d-flex justify-content-around  mb-3">
        <div class="" style="width:300px">
          <div class="text-center"><img src="images/webicon.png" class='skillicon' alt="">

          </div>
          <div class="h5 mt-3 text-center">Web Development</div>
          <div ><p>I like creating dynamic websites, usually with
          Node JS and Express on the back end. I also use SocketIO to enable realtime communication. Also, here's <a href="https://github.com/bigjmn/jesse-profile"> this site's GitHub repo.</a></p>
        <p><i>I'm a socket man, burning up his fuse up here alone...</i></p>
          </div>

        </div>
        <div class=" " style="width:300px">
          <div class="text-center"><img src="images/roboticon.png" class='skillicon' alt="">

          </div>
        <div class="h5 mt-3 text-center">Machine Learning</div>
        <div ><p>I like deep learning. And reenforcement learning. And deep reenforcement learning. I use Tensorflow/Keras to compile and train models. Always got an eye out for Markov Chains.
        </p>
      <p><i>SmarterChild and I are still each waiting for the other to apologize.</i></p>
        </div>

      </div>

      <div class=" " style="width:300px">
        <div class="text-center"><img src="images/analyticsicon.png" class='skillicon' alt="">

        </div>
      <div class="h5 mt-3 text-center">Analytics</div>
      <div><p>I use statistical inference to analyze data and present it in ways that are clear and meaningful. I can also recognize when data is represented in ways that are biased and misleading. </p>
    <p><i>You could call misleading graphs 'devious plots.' You shouldn't, but you could!</i></p>
      </div>

    </div>

      </div>

    </div>

    <div class="container-fluid" style="height:100px">

    </div>

    <div class="container-fluid" id='projects'>
      <h1 class='text-center sectionheader'>projects</h1>
      <div class="d-flex justify-content-around projectholder mb-3">
        <div class="p-2  project" >
          <div class="snapshot">
            <img src="images/TetrisBuddiesPic.png" id='tetrisicon' alt="">

          </div>
          <div class="h5 text-center">Tetris Buddies

          </div>
          <div class=""><p>A collaborative tetris game asymmetrical information.              <a href="/tetris-buddies">Learn more...</a>
</p>


          </div>

        </div>
        <div class="p-2  project" >
          <div class="snapshot">
            <video id= 'mazevid' src="images/MazebotVid.mov" autoplay muted loop>

</video>


</div>



          <div class="h5 text-center">Q Maze Solver

          </div>
          <div class=""><p>A maze-solving AI using temporal difference methods. <a href="/q-maze-ai">Learn more...</a></p>



          </div>



        </div>


      </div>
      <div class="d-flex justify-content-around projectholder mb-3">
        <div class="p-2  project" >
          <div class="snapshot">
            <iframe src="javascripts/drawsnapshot.html" width="450" height="295" ></iframe>

          </div>
        <div class="h5 text-center">Shock and Draw


        </div>
        <div class=""><p>A head-to-head drawing and guessing game. Toggle the effects to preview some of the 'attacks.' <a href="/shock-and-draw">Learn more...</a></p>



        </div>

      </div>
        <div class="p-2  project" >
          <div class="snapshot">
            <img src="images/jn_chess_stats/barplot.png" alt="" id='chessbar' height="270">


          </div>
          <div class="h5 text-center">Chess Stats


          </div>
          <div class=""><p>A command line tool that creates graphs based on chess game history. <a href="/chess-stats">Learn more...</a></p>


          </div>


          </div>



      </div>




    </div>
    <div class="container-fluid" style="height:100px">

    </div>



    <div class="container-flex" id='contact'>
      <h1 class='text-center sectionheader'>contact</h1>

      <div class="d-flex justify-content-center  mb-3">

        <div class="p-2">
          <ul style='list-style-type:none'>
            <li>email: jesseanicholas[at]gmail[dot]com</li>
            <li>Twitter: <a href="https://twitter.com/JNicksLive">@JNicksLive</a> </li>
            <li>GitHub: <a href="https://github.com/bigjmn">https://github.com/bigjmn</a></li>

          </ul>

        </div>
      </div>


    </div>




  </main>
